[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/raf"]
	path = third_party/raf
	url = https://github.com/awslabs/raf.git
