# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

name: Update Pinned PyTorch Nightly
on:
  schedule:
    # Note that cron uses UTC times and weeks start from Sunday (0).
    # We check PyTorch nightly version every month.
    - cron:  '0 13 1 * *'

  workflow_dispatch:

jobs:
  update-n-send-PR:
    if: github.repository == 'awslabs/ratex'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        # No need to checkout submodules because we only need to update the pinned file.
        uses: actions/checkout@v2
      - name: Update pinned PyTorch nightly version
        id: update
        run: |
          python3 -m pip install -U --force-reinstall pip==22.1.2
          version=$(python3 -m pip index versions torch --pre -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html \
                    | grep torch | tr -d '()' | awk '{print $2'} | awk -F '+' '{print $1}')
          echo "Latest PyTorch nightly version: $version"
          echo $version > scripts/pinned_torch_nightly.txt
          echo "::set-output name=version::${version}"
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.BOT_TOKEN }}
          commit-message: '[Compatible] Update Pinned PyTorch Nightly ${{ steps.update.outputs.version }}'
          committer: GitHub <noreply@github.com>
          author: AIREMetaBot <aire-meta-bot@users.noreply.github.com>
          branch: update-pinned-pytorch-nightly-${{ steps.update.outputs.version }}
          base: pt-nightly-compatible
          delete-branch: true
          title: '[Compatible] Update Pinned PyTorch Nightly ${{ steps.update.outputs.version }}'
          body: |
            _This PR is auto-generated by AIRE Meta Bot._
            
            - Please check the CI results before merge it.
            - Please use rebase merge to keep pt-nightly-compatible branch against the main branch.
            - If one or more tests failed, please commit necessary changes to this branch (update-pinned-pytorch-nightly-${{ steps.update.outputs.version }}).

          draft: false
